<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap_Yeti.min.css">
  <title>Todo List</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-success shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TODO List</a>
        <a class="btn btn-warning" href="/todos/new">Add new todo</a>
      </div>
    </nav>
  </header>
  <main class="container">
    <section class="my-3">
      {{{ body }}}
    </section>
  </main>
</body>

</html>