<form class="d-inline" action="/todos/{{ todo._id }}?_method=DELETE" method="POST">
  <div class="input-group">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled
        aria-label="Checkbox for TODO">
    </div>
    <input type="text" class="form-control" placeholder="{{ todo.name }}" aria-label="TODO name" disabled>
    <a class="btn btn-success" href="/todos/{{ todo._id }}/edit">edit</a>
    <button class="btn btn-danger" type="submit">delete</button>
  </div>
</form>