<form class="d-inline" action="/todos/{{ todo._id }}?_method=PUT" method="POST">
  <div class="input-group">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}
        aria-label="Checkbox for TODO">
    </div>
    <input type="text" class="form-control" placeholder="edit to..." name="edit" value="{{ todo.name }}" autocomplete="off" aria-label="TODO name">
    <button type="submit" class="btn btn-success" href="/todos/{{ todo._id }}/edit">edit</button>
  </div>
</form>